# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Fahad Work\University Work\4th Semester\OS\Final Assignments for Operating System\final-labs-submissions\CPUScheduler\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
